body{
    background-color: cornflowerblue;
    border: 1px solid;
    box-shadow: 10px 10px;
}
.container{
    background-color: black;
}
.row{
    padding:10px 0px; 
}
.banner{
    background-color: aqua;
}
.nav-bar{
    background-color: hotpink; 
}
.navigation ul{
  float: right;
  list-style-type: none;
  padding: 0, 50, 10, 50px;
  margin:0;
  position: relative;
  z-index: 1;
}
.navigation > ul{
  border: 1px solid #666;
  background: red;
}
.navigation ul a{
  display: block;
  color: white;
  text-decoration: none;
  padding: 0 30px;
  line-height: 32px;
  font-size: 100%;
}
.navigation ul li{
  position: relative;
  float: left;
  margin:0;
  padding:0;
}
.navigation ul li:hover{
  background: blue;
  
}
.navigation ul li a:hover {
  color: hotpink;
}
.navigation ul ul{
position:absolute;
background: gray;
padding: 0px;
display:none;
top: 100%;
}
.navigation ul ul li{
float: none; 
width: 213px;
}
.navigation ul ul a{
  padding: 5px 10px;
}
.navigation ul ul ul{
left: 100%;
background: #333;
top: 0;
}
.navigation ul li:hover > ul{
display: block;

}
img{
    width: 100%;
}
h1{
    color: dodgerblue;
}
h1 a:hover { 
    text-decoration:none; 
}
    li{
    padding: 10px;
    display: block;
    font-size: 18px;
    list-style-type: none;
}
.aboutme, .template1{
    background-color:darkseagreen;
    padding: 5px 10px 5px 10px;
}
.gallery, .template2{
    background-color:lightpink;
    padding: 5px 10px 5px 10px;
}
.social, .template3{
    background-color:yellow;
    padding: 5px 10px 5px 10px;
}
.footer{
    text-align: center;
    color:white;
    padding:10px 0px 0px 20px;
}
