.logo{
    height: 200px;
    width: 200px;
}
.banner{
    width: 900px;
    }
body{
    background-color: lightyellow;
}
.container{
    background-color: lightgray;
    border: solid 1px black;
}
.row{
    padding:10px 0px; 
}
.top-bar{
    background-color: darkblue;
    padding-top: 50px;
    padding-left: 45px;;
}
.nav-bar{
    background-color: darkgreen; 
}
.navigation ul{
  float: right;
  list-style-type: none;
  padding: 0, 50, 10, 50px;
  margin:0;
  position: relative;
  z-index: 1;
}
.navigation > ul{
  border: 1px solid #666;
  background: red;
}
.navigation ul a{
  display: block;
  color: white;
  text-decoration: none;
  padding: 0 30px;
  line-height: 32px;
  font-size: 100%;
}
.navigation ul li{
  position: relative;
  float: left;
  margin:0;
  padding:0;
}
.navigation ul li:hover{
  background: blue;
  
}
.navigation ul li a:hover {
  color: hotpink;
}
.navigation ul ul{
position:absolute;
background: gray;
padding: 0px;
display:none;
top: 100%;
}
.navigation ul ul li{
float: none; 
width: 213px;
}
.navigation ul ul a{
  padding: 5px 10px;
}
.navigation ul ul ul{
left: 100%;
background: #333;
top: 0;
}
.navigation ul li:hover > ul{
display: block;
}
img{
    width: 100%;
}
h1{
    color: white;
    
}
h1 a:hover { 
    text-decoration:none; 
}
li{
    padding: 10px;
    display: block;
    font-size: 18px;
    list-style-type: none;
}
.aboutme, .template1, .flash, .mlbtableau{
    background-color:darkseagreen;
    padding: 5px 10px 5px 10px;
}
.gallery, .template2, .gamereview{
    background-color:lightpink;
    padding: 5px 10px 5px 10px;
}
.social, .template3, .replica{
    background-color:yellow;
    padding: 5px 10px 5px 10px;
}
.footer{
    text-align: center;
    color:white;
    padding:10px 0px 0px 20px;
}





@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%; padding-right: 0px;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
